<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><TMPL_VAR TITLE></title>
  <link rel="icon" href="<TMPL_VAR BASEURL>Pics/icon.png" type="image/png"/>
  <link rel="stylesheet" href="<TMPL_VAR BASEURL>debian.css" type="text/css" />
  <link rel="stylesheet" href="<TMPL_VAR BASEURL>dsa.css" type="text/css" />
  <TMPL_IF NAME="EDITURL"><link rel="alternate" type="application/x-wiki" title="Edit this page" href="<TMPL_VAR EDITURL>" /></TMPL_IF>
  <TMPL_IF NAME="FEEDLINKS"><TMPL_VAR FEEDLINKS></TMPL_IF>
  <TMPL_IF NAME="META"><TMPL_VAR META></TMPL_IF>
</head>

<body>
  <div id="header">
    <div id="upperheader">
      <div id="logo">
        <a href="https://france.debian.net" title="Debian France"><img src="<TMPL_VAR BASEURL>Pics/debian-france.png" alt="Debian France" /></a>
      </div>
    </div>

    <div id="navbar">
      <p class="hidecss"><a href="#inner">Skip Quicknav</a></p>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="<TMPL_VAR BASEURL>equipe">L'équipe</a></li>
        <li><a href="<TMPL_VAR BASEURL>evenements">Événements</a></li>
        <li><a href="<TMPL_VAR BASEURL>events">Events</a></li>
        <li><a href="<TMPL_VAR BASEURL>soutenir">Soutenir</a></li>
        <li><a href="<TMPL_VAR BASEURL>support">Support</a></li>
        <li><a href="<TMPL_VAR BASEURL>documents">Documents</a></li>
        <li><a href="<TMPL_VAR BASEURL>a-propos">À propos</a></li>
        <li><a href="<TMPL_VAR BASEURL>espace-membre">Espace Membre</a></li>
        <li><a href="<TMPL_VAR BASEURL>blog">Blog</a></li>
        <li><a href="https://enventelibre.org/fr/42-debian">Boutique</a></li>
      </ul>
    </div>
    <p id="breadcrumbs"><TMPL_LOOP NAME="PARENTLINKS"><a href="<TMPL_VAR NAME=URL>"><TMPL_VAR NAME=PAGE></a> / </TMPL_LOOP><TMPL_VAR TITLE></p>
  </div>

  <div id="content">
<TMPL_IF SIDEBAR>
    <div id="sidebar">
      <TMPL_VAR SIDEBAR>
    </div>
</TMPL_IF>

    <div class="index_include">
      <TMPL_VAR CONTENT>
      <div style="clear:both">&nbsp;</div>
    </div>

<TMPL_IF NAME="HAVE_ACTIONS">
    <div class="actions">
      <ul>
        <TMPL_IF NAME="EDITURL"><li><a href="<TMPL_VAR EDITURL>" rel="nofollow">Édition</a></li></TMPL_IF>
        <TMPL_IF NAME="RECENTCHANGESURL"><li><a href="<TMPL_VAR RECENTCHANGESURL>">Dernières modifications</a></li></TMPL_IF>
        <TMPL_IF NAME="HISTORYURL"><li><a href="<TMPL_VAR HISTORYURL>">Historique</a></li></TMPL_IF>
        <TMPL_IF NAME="PREFSURL"><li><a href="<TMPL_VAR PREFSURL>">Pr&eacute;f&eacute;rences</a></li></TMPL_IF>
        <TMPL_IF NAME="DISCUSSIONLINK"><li><TMPL_VAR DISCUSSIONLINK><br /></li></TMPL_IF>
      </ul>
    </div>
</TMPL_IF>

    <div id="footer">
      <div id="pageinfo">
<TMPL_IF NAME="BACKLINKS">
        <div id="backlinks">
          Links:
          <TMPL_LOOP NAME="BACKLINKS">
            <a href="<TMPL_VAR NAME=URL>"><TMPL_VAR NAME=PAGE></a>
          </TMPL_LOOP>
          <TMPL_IF NAME="MORE_BACKLINKS"><span class="popup">...<span class="balloon"><TMPL_LOOP NAME="MORE_BACKLINKS"><a href="<TMPL_VAR NAME=URL>"><TMPL_VAR NAME=PAGE></a></TMPL_LOOP></span></span></TMPL_IF>
        </div>
</TMPL_IF>
<TMPL_IF NAME="TAGS">
        <div class="tags">
          Tags:
          <TMPL_LOOP NAME="TAGS">
            <TMPL_VAR NAME=LINK>
            </TMPL_LOOP>
          </div>
</TMPL_IF>
        <a href="https://www.april.org/" title="Association membre de l'April"><img src="<TMPL_VAR BASEURL>Pics/april.png" alt="Logo de l'April" class="affiliation"/></a>
        <a href="https://evolix.com/" title="Soutien l'association"><img src="<TMPL_VAR BASEURL>Pics/evolix.png" alt="Logo de Evolix" class="affiliation"/></a>
        <div id="fineprint">
          <p>
            Dernière modification: <TMPL_VAR NAME=MTIME>
            <br/>
            Copyright &copy; 2006-2024 <a href="https://france.debian.net">Debian France</a>
          </p>
        </div>
      </div>
    </div> <!-- end footer -->
  </div>
</body>
</html>
